name: Continous Integration
on: push
jobs:
  build_push:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Test secrets
        run: echo "${{ secrets.DOCKER_USERNAME }} - ${{ secrets.DOCKER_PASSWORD }}"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: andremmiller/myapp:latest
      
      # - name: Build and push Docker image
      #   uses: mr-smithers-excellent/docker-build-push@v6
      #   with:
      #     image: andremmiller/myapp
      #     tags: 3.0, latest
      #     registry: DOCKER.io
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}
        